<h1 class="title animated jackInTheBox"> Minhas Tarefas </h1>
<ul class="animated flipInX" *ngIf="mode=='list'">
    <P class="text-center" *ngIf="todos.length==0"> <small> Você não tem nenhuma tarefa para hoje! </small> </P>
    <li *ngFor="let todo of todos">
        {{ todo.title }}
        <button *ngIf="!todo.done" (click)="markAsDone(todo)"> <i class="far fa-check-circle" ></i> </button>
        <button *ngIf="todo.done" (click)="markAsUndone(todo)"> <i class="fas fa-check-circle" ></i> </button>
        <button (click)="remove(todo)"> <i class="far fa-trash-alt"></i> </button>
    </li>
</ul>

<div id="modal" *ngIf="mode=='add'" class="animated flipInX">
    <h1 class="text-center"> Nova Terefa </h1>
    <Form [formGroup]="form">
        <input type="text" placeholder="Titulo da Tarefa" maxlength="100" formControlName="title">
        <small class="danger" *ngIf="form.controls.title.invalid && !form.controls.title.pristine">
            Este campo deve conter ao menos 3 a 60 Caracteres! <br> </small>
        <p class="text-center">
            <button class="button" [disabled]=" form.invalid" (click)="add()"> <i class="far fa-save"></i>  Salvar</button>
        </p>
        <br>
    </Form>
</div>

<p class="text-center">
<button class="add-button animated fadeInUp button" (click)="changeMode('add')" *ngIf="mode=='list'">
    <i class="fas fa-plus-circle"></i>
     Nova Tarefa
</button>
<button class="add-button animated fadeInUp button" (click)="changeMode('list')" *ngIf="mode=='add'">
    <i class="fas fa-times"></i>
     Cancelar Tarefa
</button>
</p>